# Compiled class file
*.class

./tweeterApp/.idea/*
./tweeterApp/.idea/
./tweeterApp/.idea
./tweeterApp/target/*
./tweeterApp/*.iml
./tweeterApp/out
./tweeterApp/out/
./tweeterApp/out/*

./crmApp/.idea/*
./crmApp/.idea/
./crmApp/.idea
./crmApp/target/*
./crmApp/crmApp.iml
./crmApp/out
./crmApp/out/
./crmApp/out/*