# Compiled class file
*.class

./tweeterApp/.idea/*
./tweeterApp/.idea/
./tweeterApp/.idea
./tweeterApp/target/*
./tweeterApp/*.iml
./tweeterApp/out
./tweeterApp/out/
./tweeterApp/out/*

./crmApp_v1/.idea/*
./crmApp_v1/.idea/
./crmApp_v1/.idea
./crmApp_v1/target/*
./crmApp_v1/*.iml
./crmApp_v1/out
./crmApp_v1/out/
./crmApp_v1/out/*

./crmApp_v2/.idea/*
./crmApp_v2/.idea/
./crmApp_v2/.idea
./crmApp_v2/target/*
./crmApp_v2/*.iml
./crmApp_v2/out
./crmApp_v2/out/
./crmApp_v2/out/*